@import "font.css";



.bottom-links{
    padding-top: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 35px;
}

.bottom-links li{
    list-style: none;
    padding-left: 67.5px;
}

.bottom-links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}