@import "font.css";


.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.center-content h1{
    font-size: 80px;
    color: white;
    border-bottom: 3px solid #343434;
    border-top:  3px solid #343434;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-style: normal;
}

.subtitle{
    color: white;
    text-align: center;
    width: 937px;
    margin-top: 50px;
    font-size: 30px;
    font-family: "Hoefler Text", serif;
    font-style: normal;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-button{
    display: block;
    background-color: white;
    height: 4px;
    margin-top: 58.5px;
    width: 388px;
}


.button-bottom a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 388px;
    margin-top: 44.5px;
    height: 64px;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    color: #080C71;
    font-family: "Merriweather";
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}



