.flex-container{
    background-image: url("/static/images/test.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.flex-container::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        background: linear-gradient(356deg, rgba(0,0,0,0.3757878151260504) 0%, rgba(0,0,0,0.04525560224089631) 100%);        width: 100%;
        height: 100%;
}