.navigation nav ul {
    list-style: none;
    padding-left: 54px;
    margin-right: 35px;
    display: flex;
    text-decoration: none;
}

.navigation li{
    padding-left: 54px;
    margin-top: 87px;
    

}
